<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net461" />
  <package id="MSBuilder.VsixInstaller" version="1.0.7" targetFramework="net461" developmentDependency="true" />
</packages>