<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexaoSqlServer.Properties.Settings.Strng" connectionString="Data Source=LAPTOP-OT96ST84;Initial Catalog=Bd_Glicemia;User ID=sa;Password=Paradoxo22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>